//$bootstrap-nano: "(min-width:315px) and (max-width:479px)";
$bootstrap-xs: "(max-width:767px)";
$bootstrap-sm: "(min-width:768px) and (max-width:991px)";
$bootstrap-md: "(min-width:992px) and (max-width:1199px)";
$bootstrap-lg: "(min-width:1200px) and (max-width:1399px)";
$bootstrap-xl: "(min-width:1400px) and (max-width:1920px)";
$bootstrap-xxl: "(min-width:1920px)";