.footer {
  text-align: center;
  padding: 25px;
}
.footer-link {
  color: #ffffff;
  font-size: 30px;
  margin-left: 12px;
  &:active, &:hover {
    color: #5bc0de;
  }
}
.footer-mail {
  font-family: $global-drugs-regular;
  font-size: 12px;
  font-weight: bold;
}