.main-screen {
  width: 100%;
  height: 100vh;
  background: url(../img/main-foto.png) no-repeat;
  background-size: 100% 100%;
}
.ml-header {
  position: fixed;
  width: 100%;
  .ml-logo {
    float: left;
    margin: 15px;
    .logo-link{
      display: block;
    }
  }
}
