.main-screen {
  width: 100%;
  height: 100vh;
  background: url(../img/main-foto.png) no-repeat;
  background-size: 100% 100%;



  .ml-header {
    margin-top: 15px;

    .ml-logo {
      float: left;

      .logo-link{
        display: block;
    }
    }
  }

}
.grad {
  box-shadow: 6px 6px #989898, 12px 12px #6c6666;
}